<%= form_with model: @transaction do |f|%>

  <p>
    <%= f.label :Account_number %>
    <%= f.text_field :account_no %>
  </p>

  <p>
    <%= f.label :Amount %>
    <%= f.text_field :amount %>
  </p>

  <p>
    <input type="text" id="transaction_otp">
    <%= link_to 'Generate OTP', generate_otp_transaction_path(current_user.id),remote: true %>
  </p>

  <%= f.submit %>

<% end %>